body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
nav {
    display: flex; 
    align-items: center; 
    justify-content: space-around;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background: #333;
    color: white; 
    padding: 10px 0; 
    height: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

nav a {
    text-decoration: none; 
    color: white;
    font-size: 16px; 
    font-weight: bold; 
    padding: 10px 15px; 
    transition: transform 0.3s ease;    
}

nav a:hover {
    color: lightblue;
    text-decoration: underline;
    transform: scale(1.1);
}

nav img {
    position: relative;
    left: 0;
    max-width: 50px;
    height: 60%;
    width: 60%;
    margin-left: -100px;
    border-radius: 70%;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    /*background-color: lightblue;*/
    padding-bottom: 0px;
}
.presentation {
    height: 200px;
    margin-left: 5em;
    margin-right: 5em;
    /*background-color: lightskyblue;*/
}
.presentation h1 {
    margin-top: 100px;
    font-size: 18px;    
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.presentation p {
    margin-top: 10px;
    color: #767676;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    line-height: 1.8em;
}
ul {
    margin-top: ;
    padding: 1em 0 0 2em;
    /*background-color: lightblue;*/    
}
.sommaire {
    margin-top: 10em;
    margin-left: 5.2em;
    height: 250px;
    /*background-color: lightgreen;*/
}

ul li::marker {
    font-size: 1.5em;
    color: grey;
}

.sommaire ul li{
    font-size: 1.4em;
    /*background-color: yellow;*/
    color: #2ea3f2 !important;
}
.sommaire a {
    text-decoration: none;
}
.sommaire a:hover{
    text-decoration: underline;
}

.sommaire h2 {font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700px;
  font-size: 1.8em;
  letter-spacing: 1px;
  line-height: 1.6em;
  text-align: left;
}

@media (max-width: 768px) {
    .container {
        flex: row;
    }
    .presentation {
        flex: 1;
    }
    .sommaire {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10em;
        margin-left: 20px;
        flex: 1;
    }


}
.intro h2, .cybersecurite h2 {
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #2ea3f2;
}

.intro img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 10px; 
    margin-bottom: 5px;
    border-radius: 10px;
}
.domaine {
    margin-top: 4em;
    margin-left: 15px;
    margin-right: 15px;
}
.domaine p {
    font-size: 1.2rem;
    text-align: justify;
}
.tidomaine {
    font-weight: bold;
}
.devcontenu {
    margin-left: 3.5em;
    margin-right: 3.5em;
}
.devcontenu h2 {
    font-weight: 700px;
    font-size: 1.8em;
    color: #2ea3f2;
    letter-spacing: 1px;
    line-height: 1.6em;
    text-align: left;
    margin-left: -10px;

}

.cybersecurite {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    /*background-color: lightblue;*/
    padding-bottom: 0px;
}
.cybersecurite img {
    width: 100%;
    max-width: 500px; 
    height: auto; 
    margin-top: 10px; 
    margin-bottom: 5px;
    border-radius: 15px;
}
.cybercontenu, .conclusion{
    margin-top: 4em;
    margin-left: 3.5em;
    margin-right: 3.5em;
}

.cybercontenu h2, .conclusion h2 {
    font-weight: 700px;
    font-size: 1.8em;
    color: #2ea3f2;
    letter-spacing: 1px;
    line-height: 1.6em;
    text-align: left;
    margin-left: -10px;
}
.cybercontenu p, .conclusion p {
    margin-top: 10px;
    color: #767676;
    text-align: justify;
    padding: 5px 0 5px 0;
    line-height: 1.8em;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    text-align: justify;
}

footer {
    background-color: #333 !important;
    margin-top: 20px;
    padding-top: 1.2rem;
    color: white;
    font-family: "Karla", sans serif;
    height: 260px;
    letter-spacing: 1.4px;
    line-height: 1.8em;
}
.footer {
    display: inline-flex; 
    width: 100%;
}

 #creation {
    color: white;
    margin: 14em 0 0 -0.4em;
    text-align: center;
    font-weight: 700;
    text-align: center;
}

.reseaux {
    position: absolute;
    right: 12rem;
}   
.reseaux img {
    width: 40px;
    margin-right: 1em;
    border-radius: 75%;
    margin-top: 15px;
    transition: transform 0.3s ease;
}

.reseaux img:hover {
    transform: scale(1.2);
}

.information {
    position: absolute;
    margin-left: 3.5em;
}